.container{
        display: grid;
        height: 70%;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 15% 65% 20%;
    }

    .top{
        background: gray;
        grid-column: 1 / 6; 
        
    }
    

    .left{
        background-color:rgb(30, 166, 168);
        grid-row: 2;
        grid-column:1;
        
    }    

    .middle{
        background:rgb(255, 205, 97);
        grid-row: 2;
        grid-column:2;
    }

    .right{
        background:rgba(232, 96, 54, 0.961);
        grid-row: 2;
        grid-column:3;
    }
    
    .bottom {
        background:rgb(242, 235, 196);
        grid-row: 3;
        grid-column: 1 / 6; 
    }

